<% include ./partials/header %>

<h1>Welocome To Cooper.com!</h1>

<p>Cooper is a social network made for speaking and interacting with your friends, comrades, family and so on.</p>

<h2>Register Now!</h2>

<form action="/register" method="POST">
    <input type="text" placeholder="username" name="username">
    <input type="password" placeholder="password" name="password">
    <input type="submit" value="Create an Account">
</form>

<% include ./partials/footer %>