<% include ../partials/header %>

<form action="/index" method="POST">
    <input type="text" placeholder="title" name="title">
    <input type="text" placeholder="content" name="content">
    <input type="text" placeholder="image" name="image">
    <input type="submit" value="Add a Post">
</form>

<% include ../partials/footer %>